---
title: ФНДК
---
extends layouts/_news-layout
block content
    <section class="news-page">
        <form class="news-page__form" action="" role="search">
            <input class="news-page__search-field" type="search" placeholder="Пошук..." id="search">
            <button class="news-page__search-btn" type="submit">
                +icon('search')
            </button>
        </form>
        <div class="news-page__wrap">
            <div class="news-page__item">
                <div class="news-page__img"></div>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Зустріч кримських татар з мером Києва, Віталієм Кличко</h4>
                    <p class="news-page__text">29 березня відбулася важлива робоча зустріч з мером Києва щодо реалізації ініціатив, спрямованих на покращення добробуту кримських татар, які проживають в Києві. На зустрічі були присутні Лідер кримськотатарського народу <a target="_blank" href="https://www.facebook.com/mustafa.abduljemil/">Мустафа Джемілєв</a>, Голова Фонду національного добробуту Криму Ленур Мамбетов, Заступник Міністра з питань реінтеграції тимчасово окупованих територій України  <a target="_blank" href="https://www.facebook.com/ssnaver">Snaver Seitkhalil</a>, Перша заступниця Міністра закордонних справ України <a target="_blank" href="https://www.facebook.com/edzhaparova">Emine Dzheppar</a>. Це стало можливим за ініціативи народного депутата України <a target="_blank" href="https://www.facebook.com/rustem.umerov9.0/">Rustem Umerov</a>, а також за підтримки депутата Київської міської ради <a target="_blank" href="https://www.facebook.com/gregorymalenko">Gregory Malenko</a> та Меджлісу кримськотатарського народу. <br>Під час зустрічі обговорили питання створення кримськотатарського культурно-освітнього центру в Києві, будівництво квартир для внутрішньо переміщених осіб з Криму, визначили, які наявні перешкоди на даний момент, як їх вирішити та прискорити реалізацію задуманих проектів. <br>Фонд національного добробуту Криму висловлює вдячність Віталію Володимировичу за відкритість до розгляду наших ініціатив, налаштованість на діалог на підтримку.</p>
                    <!-- <a class="news-page__button" href="">Читати</a> -->
                </div>
            </div>
            <div class="news-page__item">
                <picture>
                    <img src="./img/news-img-2.jpg" alt=""> 
                </picture>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Реконструкція Парку Обласної Ради в м.Одеса</h4>
                    <p class="news-page__text">У цьому році в місті Одеса планується реконструкція Парку Обласної Ради. В рамках реконструкції в парку розміщатимуться меморіали пам'яті захисникам незалежності України та Героям Небесної Сотні. <br>Голова кримськотатарської громади Одеської області та міста Одеса <a target="_blank" href="https://www.facebook.com/meryem.jelil">Meryem Jelil</a> звернулась до Лідера кримськотатарського народу <a target="_blank" href="https://www.facebook.com/mustafa.abduljemil/">Mustafa Jemilev</a> та голови Меджлісу Рефат Чубаров з ініціативою встановлення на території парку меморіалу пам'яті жертв депортації кримськотатарського народу. Для участі в реалізації проєкту був запрошений також Фонд національного добробуту Криму. <br>31 березня 2021 року <a target="_blank" href="https://www.facebook.com/meryem.jelil">Meryem Jelil</a> та Голова Фонду національного добробуту Криму Ленур Мамбетов провели зустрічі з міським головою Одеси <a target="_blank" href="https://www.facebook.com/gennadiytruhanov/">Геннадієм Трухановим</a> та архітектором проєкту <a target="_blank" href="https://www.facebook.com/mikhail.reva">Mikhail Reva</a>, де обговорювалися питання реалізації проєкту, вибору місця встановлення меморіалу та відкриття кримськотатарського культурного центру в м. Одеса. <br>Роботи з реконструкції парку планують завершити до Дня Незалежності, 24 серпня 2021 року. <br>Від імені Фонду національного добробуту Криму хочемо висловити подяку міському Голові Одеси <a target="_blank" href="https://www.facebook.com/gennadiytruhanov/">Геннадію Труханову</a> за підтримку в реалізації знакового для Одеси і всієї України проєкту.</p>
                    <!-- <a class="news-page__button" href="">Читати</a> -->
                </div>
            </div>
            <div class="news-page__item">
                <picture>
                    <img src="./img/news-img-6.jpg" alt="">
                    <img src="./img/news-img-7.jpg" alt="">
                </picture>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Затвердження ескізного проекту реконструкції Мечеті в м. Дніпро</h4>
                    <p class="news-page__text">На останньому містобудівному зібранні м. Дніпра котра відбулась 15.03.2021, було затверджено ескізний проект реконструкції будівлі мечеті. <br>Історична довідка.<br> Мечеть була збудована 1911-1914 роках кримськими татарами, але вже у 1926 році більшовики відібрали мечеть для використання власних потреб (функції складу та комунальної будівлі). У 1945 році на території Мечеті створили дитячу спортивну школу. Лише у 2014 році був підписаний меморандум між обласною владою та мусульманською громадою щодо передачі будівлі мусульманський громаді.</p>
                    <!-- <a class="news-page__button" href="">Читати</a> -->
                </div>
            </div>
            <div class="news-page__item">
                <picture>
                    <img src="./img/news-img-3.jpg" alt="">
                </picture>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Ремонт дитячого садочку "Івушка"</h4>
                    <p class="news-page__text">Завдяки підтримці нашого партнера агентства Тіка,  дитячий садок "Івушка", що знаходиться в смт Новоолексіївка Генічеського району Херсонської області та в якому навчаються біля 60% кримськотатарських дітей, перетворено на теплий, затишний дім. В рамках проекту в дитячому садку були проведені такі роботи: теплоізоляція фасаду, заміна дверей, ремонт даху та створення дитячого майданчика. У дошкільному навчальному закладі створені сприятливі умови для навчання 134 дітей, у тому числі 80 кримських татар.</p>
                    <!-- <a class="news-page__button" href="">Читати</a> -->
                </div>
            </div>
            <div class="news-page__item">
                <picture>
                    <img src="./img/news-img-4.jpg" alt="">
                    <img src="./img/news-img-5.jpg" alt=""> 
                </picture>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Закінчення ескізного проекту та подача на затвердження в департамент містобудування та архітектури м. Київ.</h4>
                    <p class="news-page__text">На початку 2021 року ФНБК зі своїм партнером Тіка закінчили розробку ескізного проекту будівництва кримськотатарського культурно освітнього центру в м. Київ. Ескізний проект передбачає будівництво школи, культурно ділового центру та мечеті.<br>Наразі ведуться перемовини з департаментом містобудування м. Київа, що до затвердження ескізного проекту з урахування комплексу в новому генеральному плані міста Київ, котрий має буди затверджений.</p>
                    <!-- <a class="news-page__button" href="">Читати</a> -->
                </div>
            </div>
        </div>
    </section>
    <!-- contact -->
        +contact()