---
title: ФНДК
---
extends layouts/_project-complex
block content
    <section id="firstProject" class="project">
        <div class="project__wrapper">
            <h4 class="chapter">Завершені проекти</h4>
            <div class="project-list__wrap">
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-1.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-1.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Придбання земельної ділянки під будівництво Кримськотатарського культурно-освітнього центру</h4>
                            <p class="item-description__sub">Загальне число вимушених переселенців з числа кримських татар на материковій частині України становить понад 23 000 і продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>заверешено</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-2.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-2.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Придбання та ремонт офісу Меджлісу кримсько- татарського народу.</h4>
                            <p class="item-description__sub">Комплекс буде громадським, культурним, соціальним, освітнім та духовним центром кримських татар і мусульман України в цілому.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>заверешено</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2015</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-3.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-3block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-3.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-3block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-3block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-3block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-3block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Ремонт дитячого садочку "Івушка"</h4>
                            <p class="item-description__sub">Завдяки підтримці нашого партнера агентства "Тіка",  дитячий садок "Івушка", що знаходиться в смт Новоолексіївка Генічеського району Херсонської області та в якому навчаються біля 60% кримськотатарських дітей, перетворено на теплий, затишний дім.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Новоолексіївка</span></p>
                                    <p class="sub-text__stage">Етап: <span>заверешено</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-third.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-4.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-4.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Викуп будівлі мечеті в м. Дніпро</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материковій частині України становить понад 23 000 і продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Дніпро</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="project-apart.html" class="btn-all">Всі проекти</a> -->
    </section>
    <section id="secondProject" class="project">
        <div class="project__wrapper">
            <h4 class="chapter">Поточні проекти</h4>
            <div class="project-list__wrap">
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Загальне число вимушених переселенців з числа кримських татар на материковоій частині України становить понад 23 000 і продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2015 рік</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-2block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-2block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">Кримськотатарський культурно-освiтнiй комплекс<br><br></h4>
                            <p class="item-description__sub">Комплекс буде громадським, культурним, соціальним, освітнім та духовним центром кримських татар и мусульман України в цілому.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018 рік</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-3block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-3block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-3block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-3block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-3block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-3block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">Українська гімназія для обдарованих дітей</h4>
                            <p class="item-description__sub">В рамках проекту планується будівництво нової школи майбутнього.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018 рік</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project-third.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-2block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-2block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">Кримськотатарський культурно-освiтнiй комплекс<br><br></h4>
                            <p class="item-description__sub">Комплекс буде громадським, культурним, соціальним, освітнім та духовним центром кримських татар и мусульман України в цілому.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018 рік</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="project-apart.html" class="btn-all">Всі проекти</a> -->
    </section>
    <section id="thirdProject" class="project">
        <div class="project__wrapper">
            <h4 class="chapter">Перспективні проекти</h4>
            <div class="project-list__wrap">
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/perspective-1.1.jpg" alt="">
                        <!-- <img class="top-img" src="./img/perspective-1.2.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/perspective-1.1.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img//perspective-1.2.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">10 культурних центрів</h4>
                            <p class="item-description__sub">В десяти найбільших містах України, планується побудувати культурні центри. Метою закладів  буде єднання кримськотатарської громади котра мешкає в цьому чи іншому місті. Це навчання дітей рідної мові, культури, звичаїв, національних танців, ремесл, іноземних мов і т.д.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/perspective-2.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/perspective-2.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Електрофікація району в с.Ситхів, Дублянської міської ради</h4>
                            <p class="item-description__sub">В 2017 році було виділено біля 100 земельних ділянок для будівництва приватного житла. Більша частина ділянок була адресована для вимушених переселенців кримських татар.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/perspective-3.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-3block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/project-3block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-3block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-3block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-3block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-3block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Меморіал жертвам депортації в м.Одеса</h4>
                            <p class="item-description__sub">Фонд національного добробуту Криму звернувся до Одеської міської ради з проханням розміщення в міському парку м. Одеса, меморіалу присвячений жертвам депортації кримських татар у 1944 році. Ініціатива була прийнята позитивно. Наразі обговорюється архітектурний концепт меморіалу.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-third.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/perspective-2.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/perspective-2.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Електрофікація району в с.Ситхів, Дублянської міської ради</h4>
                            <p class="item-description__sub">В 2017 році було виділено біля 100 земельних ділянок для будівництва приватного житла. Більша частина ділянок була адресована для вимушених переселенців кримських татар.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="project-apart.html" class="btn-all">Всі проекти</a> -->
    </section>
    <!-- contact -->
        +contact()