---
title: ФНДК
---
extends layouts/_project-complex
block content
    <section id="firstProject" class="project">
        <div class="project__wrapper">
            <h4 class="chapter">Завершені проекти</h4>
            <div class="project-list__wrap">
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-1.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-1.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Придбання земельної ділянки під будівництво Кримськотатарського культурно-освітнього центру</h4>
                            <p class="item-description__sub">У 2018 році за допомогою Рената Ахметова, Фонду було надано земельну ділянку площею 3 га в місті Київ. Враховуюче те, що в місті та околицях Київа мешкає понад 10 тис кримських татар, на цій земельній ділянці планується побудувати Кримськотатарський культурно-освітній центр.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>заверешено</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-2.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-2.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Придбання та ремонт офісу Меджлісу кримсько-татарського народу</h4>
                            <p class="item-description__sub">Після заборони меджлісу кримськотатарського народу, котрий був вимушений переїхати на материкову частину України, за допомогою агентства «Тіка» було придбано офіс для меджлісу. Зусиллями Фонду було зроблено ремонт приміщень.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>заверешено</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2015</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-3.jpg" alt="">
                        <!-- <img class="top-img" src="./img/project-3block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-5img.jpg" alt=""> -->
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-3.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-3block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-3block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-3block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-3block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Ремонт дитячого садочку "Івушка"</h4>
                            <p class="item-description__sub">Завдяки підтримці нашого партнера агентства "Тіка", дитячий садок "Івушка", що знаходиться в смт. Новоолексіївка Генічеського району Херсонської області, та в якому навчаються біля 60% кримськотатарських дітей, перетворено на теплий, затишний дім. Було відремонтовано всі вхідні групи в садочок, зроблено утеплення стін, замінено дах, закуплені нові гральні майданчики.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Новоолексіївка</span></p>
                                    <p class="sub-text__stage">Етап: <span>заверешено</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-third.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/completed-project-4.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <!-- <div class="item-slide">
                            <img src="./img/completed-project-4.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div> -->
                        <div class="item-description">
                            <h4 class="item-description__title">Викуп будівлі мечеті в м. Дніпро</h4>
                            <p class="item-description__sub">У 1911-1914 роках в місті Дніпро кримськими татарами, була збудована мечеть. Нажаль в 1927 році місцева власть захопила мечеть зруйнувавши мінарети. Бідівля використовувалась в якості клуба міліції, дитячого садочка, клуба та 1953 році будівля була передана спортивній школі. В 2018 році мер міста Дніпро Борис Філатов за домовленістю з керівництвом меджлісу передав будівлі мусульманської громаді м. Дніпро.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Дніпро</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>2018</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="project-apart.html" class="btn-all">Всі проекти</a> -->
    </section>
    <!-- contact -->
        +contact()