<header class="page-header project-page">
    <section class="project-bg project-img1">
        <div class="content-wrap">
            <nav class="nav-menu">
                <button class="nav-menu__toggler"></button>
                <h2 class="burger-title">Меню</h2>
                <div class="menu-line"></div>
                <ul class="toggler-list">
                    <li class="menu-item"><a class="menu-link" href="page.html">Головна</a></li>
                    <li class="menu-item"><a class="menu-link" href="inner-about.html">Про нас</a></li>
                    <li class="menu-item"><a class="menu-link" href="news-page.html">Новини</a></li>
                    <li class="menu-item"><a class="menu-link" href="project-apart.html">Проекти</a></li>
                    <li class="menu-item"><a class="menu-link" href="contacts.html">Контакти</a></li>
                </ul>
                <div class="nav-menu__socials">
                    <a target="_blank" href="https://www.instagram.com/qirim.varliq/" class="nav-menu__socials-link">
                        +icon("logo-instagram", "social-network") 
                    </a>
                    <a target="_blank" href="https://twitter.com/QirimF" class="nav-menu__socials-link">
                        +icon("logo-twitter", "social-network")
                    </a>
                    <a target="_blank" href="https://www.facebook.com/qirim.varliq" class="nav-menu__socials-link">
                        +icon("logo-facebook", "social-network") 
                    </a>
                </div>
            </nav>
            <div class="project-bg__wrap">
                <h2 class="project-bg__title">Завершені</h2>
                <ul class="project-bg__item">
                    <li class="project-bg__list">
                        <p></p>
                        <div>Придбання земельної ділянки під будівництво Кримськотатарського культурно освітнього центру</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Придбання та ремонт офісу Меджлісу кримськотатарського народу.</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Ремонт дитячого садочку "Івушка"</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Викуп будівлі мечеті в м. Дніпро</div>
                    </li>
                </ul>
                <div class="project-block__btns">
                    <a class="button-in" href="project-complex.html#firstProject">Детальніше</a>
                </div>
            </div>
        </div>
    </section>
    <section class="project-bg project-img2">
        <div class="content-wrap">
            <div class="project-bg__wrap">
                <h2 class="project-bg__title">Поточні</h2>
                <ul class="project-bg__item">
                    <li class="project-bg__list">
                        <p></p>
                        <div>Кримськотатарський культурно-освітній комплекс</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Культурно-освітній центр «Чайки»</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Реконструкція мечеті в м. Дніпро</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Ремонт будівлі гуртожитку</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Будівництво 1000 квартир</div>
                    </li>
                </ul>
                <div class="project-block__btns">
                    <a class="button-in" href="project-complex.html#secondProject">Детальніше</a>
                </div>
            </div>
        </div>
    </section>
    <section class="project-bg project-img3">
        <div class="content-wrap">
            <div class="hero-languages">
                <a href="project-apart.html" class="languages-link">UA</a>
                <a href="#" class="languages-link">EN</a>
                <a href="#" class="languages-link">TR</a>
            </div>
            <div class="project-bg__wrap">
                <h2 class="project-bg__title">Перспективні</h2>
                <ul class="project-bg__item">
                    <li class="project-bg__list">
                        <p></p>
                        <div>Меморіал жертвам депортації кримських татар <br> в міському парку м. Одеса.</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>Електрифікація нового масиву «Малі Дубляни» <br> в м. Львові</div>
                    </li>
                    <li class="project-bg__list">
                        <p></p>
                        <div>10 культурних центрів</div>
                    </li>
                </ul>
                <div class="project-block__btns">
                    <a class="button-in" href="project-complex.html#thirdProject">Детальніше</a>
                </div>
            </div>
        </div>
    </section>
    <div class="overlay"></div>
</header>