mixin news()
    <section class="news">
        <div class="news__wrapper">
            <h4 class="chapter">Новини</h4>
            <div class="news-list">
                <div class="news-list__item">
                    <div class="news-list__img news-list__img3"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Зустріч кримських татар з мером Києва, Віталієм Кличко</h4>
                        <p class="description-list__subtitle">29 березня відбулася важлива робоча зустріч з мером Києва щодо реалізації ініціатив, спрямованих на покращення добробуту кримських татар, які проживають в Києві...</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">30 березня 2021</p>
                        </div>
                    </div>
                </div>
                <div class="news-list__item">
                    <div class="news-list__img news-list__img4"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Реконструкція Парку Обласної Ради в м.Одеса</h4>
                        <p class="description-list__subtitle">Голова кримськотатарської громади Одеської області та міста Одеса Мерйем Джеліл звернулась до Лідера кримськотатарського народу...</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">08 квітня 2021</p>
                        </div>
                    </div>
                </div>
                <div class="news-list__item">
                    <div class="news-list__img news-list__img1"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Затвердження ескізного проекту реконструкції Мечеті в м. Дніпро</h4>
                        <p class="description-list__subtitle">На останньому містобудівному зібранні м. Дніпра котра відбулась 15.03.2021, було затверджено ескізний проект реконструкції будівлі мечеті.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">15 березня 2021</p>
                        </div>
                    </div>
                </div>
                <div class="news-list__item">
                    <div class="news-list__img news-list__img2"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Ремонт дитячого садочку "Івушка"</h4>
                        <p class="description-list__subtitle">Завдяки підтримці нашого партнера агентства Тіка,  дитячий садок "Івушка", що знаходиться в смт Новоолексіївка Генічеського району Херсонської області та в якому навчаються біля 60% кримськотатарських дітей.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">15 січня 2021</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="news-list__item">
                    <div class="news-list__img news-list__img3"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Закінчення ескізного проекту та подача на затвердження в департамент містобудування та архітектури м. Київ</h4>
                        <p class="description-list__subtitle">На початку 2021 року ФНБК зі своїм партнером Тіка закінчили розробку ескізного проекту будівництва кримськотатарського культурно освітнього центру в м. Київ. Ескізний проект передбачає будівництво школи, культурно ділового центру та мечеті.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">03 жовтня 2020</p>
                        </div>
                    </div>
                </div> -->
            </div> 
        </div>    
        <a href="news-page.html" class="btn-all">Всі новини</a>
    </section>
