.page-footer {
    padding: 0 15px;
    
    &__wrap {
        position: relative;
        max-width: 1435px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .footer-nav-menu {

        &__icon {

        }

        &__list {
            display: flex;
            margin-top: 31px;
        }

        &__item {

            &:not(:last-child) {
                margin-right: 50px;
            }
        }

        &__link {
            font-size: 18.6444px;
            line-height: 28px;
            letter-spacing: 0.349583px;
            color: #000;
            text-decoration: none;

            &:hover {
                color: #92BEDE;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    
        .form__title {
            font-size: 18.6444px;
            line-height: 28px;
            letter-spacing: 0.349583px;
            color: #000;
        }

        .form-subscribe {
            margin-top: 18px;

            &__email {
                width: 292px;
                height: 57px;
                padding-left: 16px;
                font-size: 18.6444px;
                line-height: 28px;
                letter-spacing: 0.349583px;
                border-radius: 4px;
                color: #92989F;
                border: 0.5px solid #B3BDC7;
            }

            &__btn {
                width: 164px;
                height: 57px;
                font-size: 18.6444px;
                line-height: 28px;
                text-align: center;
                letter-spacing: 0.349583px;
                color: #FFFFFF;
                background-color: #92BEDE;
                border-radius: 4px;
                margin-left: 10px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 900px) {
    .page-footer__wrap {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-nav-menu {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .footer-nav-menu__list {
        flex-direction: column;
        flex-wrap: wrap;
        height: 210px;
        max-width: 234px;
    }

    .footer-nav-menu__item {
        margin-bottom: 42px;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        width: 134px;
        height: 134px;
    }

    .page-footer__form {
        align-self: center;
        max-width: 900px;
        width: 100%;
    }

    .page-footer__form .form__title {
        font-size: 16px;
        text-align: center;
    }

    .page-footer__form .form-subscribe__btn {
        margin-left: 0;
        width: 100%;
        margin-top: 14px;
    }

    .page-footer__form .form-subscribe__email {
        width: 100%;
    }
}